{% extends 'layout.html' %}

{% block title %}
    Bookkeeper
{% endblock %}


{% block main %}
    <h3 id='budget-period'>{{ budget_sheet[0]['period'] }}</h3>
    <table>
        <thead>
        <tr>
            <th></th>
            <th>Planned</th>
            <th>Actual</th>
            <th>Difference</th>
        </tr>
        </thead>
        <tbody>
        {% for category in budget_sheet %}
            <tr class='budget-category'>
                <td class='budget-category-name'>{{ category['category'] }}</td>
                <td class='budget-category-planned'>{{ category['planned'] }}</td>
                <td>{{ category['actual'] }}</td>
                <td>{{ category['planned'] - category['actual'] }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <script>
        $(function () {
            $('.budget-category-planned').each(function () {
                $(this).on('click', function () {
                    let currentValue = initializeInput($(this).text());
                    let inputAnchor = $(this).prev();
                    inputAnchor.after(currentValue);
                    $(this).remove();
                })
            });
        });

        $(function () {
            $('button#budget-update-submit').each(function () {
                $(this).on('click', function () {
                    $.getJSON('/budget/update', {
                        current_value: $('input.update-input').attr('value'),
                        budget_period: $('h3#budget-period').text(),
                    }, function (data) {

                    });
                    return false;
                })
            })
        });

        const initializeInput = (value) => {
            return '<td class="budget-update-form"><input type="text" class="update-input" name="budget_update" placeholder=' + value + '><button class="btn-primary budget-update" id="budget-update-submit">Save</button><button class="btn-secondary" id="budget-update-cancel">Cancel</button></td>';
        }
    </script>
{% endblock %}