{% extends 'layout.html' %}

{% block title %}
    Bookkeeper
{% endblock %}


{% block main %}
    <h3 id='budget-period'>{{ budget_sheet[0]['period'] }}</h3>
    <span id='add-new-category'>Add New Category</span>
    <table>
        <thead>
        <tr>
            <th>Category</th>
            <th>Planned</th>
            <th>Actual</th>
            <th>Difference</th>
        </tr>
        </thead>
        <tbody>
        {% for category in budget_sheet %}
            <tr class='budget-category'>
                <td class='budget-category-name'>{{ category['category'] }}</td>
                <td class='budget-category-planned'>{{ category['planned'] }}</td>
                <td>{{ category['actual'] }}</td>
                <td>{{ category['planned'] - category['actual'] }}</td>
            </tr>
        {% endfor %}
        <tr id='budget-totals'>
            <td id='planned-total-label'>Total:</td>
            <td id='planned-total'></td>
        </tr>

        </tbody>
    </table>

    <script type='text/javascript' src='{{ url_for('static', filename='js/budget-index.js') }}'></script>
    <script type='text/javascript' src='{{ url_for('static', filename='js/BudgetWorker.js') }}'></script>
{% endblock %}