{% extends 'layout.html' %}

{% block title %}
    Bookkeeper
{% endblock %}


{% block main %}
    <div class='container-fluid mw-75 mt-5'>
        {% include 'dashboard/pie-chart.html' %}
        <small class='w-50 min-w-50 mt-2'>Pending Transactions</small>

        {# PENDING TRANSACTIONS #}
        {% with transactions = transactions, pending = 1, categories = categories %}
            {% include 'dashboard/transactions-table.html' %}
        {% endwith %}

        {# PROCESSED TRANSACTIONS #}
        {% with transactions = transactions, pending = 0, categories = categories %}
            {% include 'dashboard/transactions-table.html' %}
        {% endwith %}

        {# USER INPUT TRANSACTIONS #}
        {% include 'dashboard/input-accordion.html' %}
    </div>
    <script type='text/javascript' src='{{ url_for('static', filename='js/edit-category.js') }}'></script>
    <script type='text/javascript' src='{{ url_for('static', filename='js/edit-description.js') }}'></script>
    <script type='text/javascript' src='{{ url_for('static', filename='js/update-accounts.js') }}'></script>
    <script type='text/javascript' src='{{ url_for('static', filename='js/sort-table.js') }}'></script>

{% endblock %}