<table class='min-w-50 w-50 mx-auto p-2 sortable table shadow'>
    <thead>
    <tr>
        <th scope='col' class='transaction-date' data-sort='date'></th>
        <th scope='col' class='transaction-amount' data-sort='amount'></th>
        <th scope='col' data-sort='name'></th>
        <th scope='col' data-sort='name'></th>
    </tr>
    </thead>
    <tbody>
    {% for transaction in transactions %}
        {% if transaction['category_id'] != '16000000' and transaction['pending'] == pending %}
            <tr>
                <td class='transaction-date'><small>{{ transaction['date'] }}</small></td>
                <td class='transaction-amount'>${{ transaction['amount'] }}</td>
                <td class='description-edit-icon' id='{{ transaction['id'] }}'>{{ transaction['name'] }}<span class='icon-link'></span></td>
                <td class='description-edit'>
                    <label for='{{ transaction['id'] }}' id='description-edit-label'>Edit Description</label>
                    <input type='text' class='description-edit-input' id='{{ transaction['id'] }}'
                           name='description' value='{{ transaction['name'] }}'>
                    <button class='description-edit-submit btn btn-success' type='submit'>Save</button>
                    <button class='description-edit-cancel btn' type='submit'>Cancel</button>
                </td>
                <td class='budget-category' id='{{ transaction['id'] }}'>{{ transaction['budget_category'] }}</td>
                <td class='category-edit'>
                    <label for='{{ transaction['id'] }}' id='category-edit-label'>Change Category</label>
                    <select name='category' id='{{ transaction['id'] }}' class='category-edit-select'>
                        {% for category in categories %}
                            <option class='category-edit-option' value='{{ category['category'] }}'>{{ category['category'] }}</option>
                        {% endfor %}
                    </select>
                    <button class='category-edit-submit btn btn-success' type='submit'>Save</button>
                    <button class='category-edit-cancel btn' type='submit'>Cancel</button>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>