{% extends "layout.html" %}

{% block title %}
    My Accounts
{% endblock %}

{% block main %}
    <div id="container">
        <table>
            {% for account in accounts %}
                <tr class='item-row' id='{{ account['item_mask'] }}'>
                    <td>****{{ account['item_mask'] }}</td>
                    <td class='item-update'><a
                        href='{{ url_for('user.update_account_link', token=account['access_token']) }}'><span
                        class='icon-help'></span></a></td>
                    <td class='item-info' id='{{ account['item_mask'] }}'><span class='icon-info'></span></td>
                    <td class='item-delete'><a
                        href='{{ url_for('user.delete', access_token=account['access_token']) }}'>Delete</a></td>
                    <td class='tooltip-bottom item-rotate' aria-label='Rotate Access Token'><a href='{{ url_for('user.rotate_access_token', token=account['item_mask']) }}'>
                        <span class='icon-user'></span></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p>
            Add A New Account:
        </p>
        <button id="link-btn">Add</button>
    </div>
    <div id="success">
        <p>
            Plaid registration and authentication success. Press
            <a href="{{ url_for('index') }}">Continue</a> and log in.
        </p>
        <p class='plaid-environment' id='{{ plaid_environment }}'>Environment: {{ plaid_environment }}</p>
    </div>

    <script type='text/javascript' src='{{ url_for('static', filename='js/item-account-details.js') }}'></script>
    <script type='text/javascript' src='{{ url_for('static', filename='js/plaid-link.js') }}'></script>

{% endblock %}