{% extends "layout.html" %}

{% block title %}
    My Accounts
{% endblock %}

{% block main %}
    <div id="container">
        <table>
            <tbody>
            {% for account in accounts %}
                <tr class='item-row' id='{{ account['item_mask'] }}'>
                    <td>****{{ account['item_mask'] }}</td>
                    <td><a href='{{ url_for('user.update_account_link', token=account['access_token']) }}'><span class='icon-help'></span></a></td>
                    <td class='item-info' id='{{ account['item_mask'] }}'><span class='icon-info'></span></td>
                    <td class='item-delete'><a href='{{ url_for('user.delete', access_token=account['access_token']) }}'>Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>
            Add A New Account:
        </p>
        <button id="link-btn">Add</button>
    </div>
    <div id="success">
        <p>
            Plaid registration and authentication success. Press
            <a href="{{ url_for('index') }}">Continue</a> and log in.
        </p>
        <p class='plaid-environment' id='{{ plaid_environment }}'>Environment: {{ plaid_environment }}</p>
    </div>
    <script>
        $(function() {
            $('td.item-info').each(function() {
                let mask = this.id;
                console.log(mask);
                // let mask = $(this).attr('id');
                $(this).on('click', function() {
                    $('div#item-details-display').remove();
                    $.post('/user/update/item/accounts', {
                        item_mask: mask
                    }, function(item) {
                        let $item_details_display  = '<div id="item-details-display"><ul id="item-details-list"></ul></div>';
                        $('div#container').prepend($item_details_display);
                        let display_items = [
                            '<li class="item-details-list-item">' + 'ID: ' + item['item_id'] + '</li>',
                            '<li class="item-details-list-item">' + 'Institution ID: ' + item['institution'] + '</li>',
                            '<li class="item-details-list-item">' + 'Last updated: ' + item['last_update'] + '</li>',
                            '<li class="item-details-list-item">' + 'Last failed update: ' + item['last_failed_update'] + '</li>',
                            '<li class="item-details-list-item">' + 'Account name: ' + item['account1']['name'] + '</li>',
                            '<li class="item-details-list-item">' + 'Balance: ' + item['account1']['current_balance'] + '</li>'
                        ];
                        for (let i=0;i<display_items.length; i++) {
                            $('ul#item-details-list').append(display_items[i]);
                        }
                        let $item_details_close = '<button id="close-details" class="secondary">Ok</button>';
                        $('ul#item-details-list').after($item_details_close);
                        // $('div#item-details-display').addClass('item-details-popup');
                        console.log($item_details_display);
                        $('button#close-details').on('click', function() {
                            $('div#item-details-display').remove();
                        });
                    });
                });
            });
        });
    </script>
    <script type='text/javascript' src='{{ url_for('static', filename='js/plaid-link.js') }}'></script>

{% endblock %}