{% extends "layout.html" %}

{% block title %}
    My Accounts
{% endblock %}

{% block main %}
    <div id='container'>
        <div id='add-account'>
            <p>
                Add A New Account:
            </p>
            <button id="link-btn">Add</button>
        </div>
        <table>
            <tr>
                <th>Account</th>
                <th>Update Plaid Link</th>
                <th>Details</th>
                <th>Delete Item</th>
                <th>Rotate Access Token</th>
            </tr>
            {% for account in accounts %}
                <tr class='item-row' id='{{ account['item_mask'] }}'>
                    <td>****{{ account['item_mask'] }}</td>
                    <td class='item-update'><a
                        href='{{ url_for('user.update_account_link', token=account['access_token']) }}'><i id='wrench-icon'
                                                                                                           class="fas fa-key"></i></a>
                    </td>
                    <td class='item-info' id='{{ account['item_mask'] }}'><i class="fas fa-info-circle"></i></td>
                    <td class='item-delete'><a
                        href='{{ url_for('user.delete', access_token=account['access_token']) }}'>Delete</a></td>
                    <td class='tooltip-bottom item-rotate' aria-label='Rotate Access Token'><a
                        href='{{ url_for('user.rotate', token=account['item_mask']) }}'>
                        <i id='redo-alt-icon' class="fas fa-redo-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div id="success">
        <p>
            Plaid registration and authentication success. Press
            <a href="{{ url_for('index') }}">Continue</a> and log in.
        </p>
        <p class='plaid-environment' id='{{ plaid_environment }}'>Environment: {{ plaid_environment }}</p>
    </div>

    <script type='text/javascript' src='{{ url_for('static', filename='js/item-account-details.js') }}'></script>
    <script type='text/javascript' src='{{ url_for('static', filename='js/plaid-link.js') }}'></script>

{% endblock %}